{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}
  <h1>作業者教育メニュー</h1>

  <div class="btn-wrapper-menu">
    <button class="btn btn-menu" onclick="location.href='/video_menu'">
      <img src="/static/assets/ri_book-fill.svg" alt="logo" class="logo">
      <span class="label">動画手順書</span>
    </button>

    <button class="btn btn-menu" onclick="location.href='/timer'">
      <img src="/static/assets/basil_timer-solid.svg" alt="logo" class="logo">
      <span class="label">サイクルタイム</span>
    </button>
  </div>

  <div id="gpio-status" style="position: fixed; bottom: 1rem; right: 1rem; background: #fff; color: #8C3AFF; padding: 1rem; border-radius: 40px; font-size: 1rem; font-family: sans-serif; box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);">
    GPIO確認：<br>
    IN1: <span id="gpio17" style="font-size: 1.2rem;">●</span>
    IN2: <span id="gpio27" style="font-size: 1.2rem;">●</span>
  </div>

  <script>
    function updateGPIO() {
      fetch("/gpio_status")
        .then(res => res.json())
        .then(data => {
          document.getElementById("gpio17").textContent = data.gpio17 ? "●" : "○";
          document.getElementById("gpio27").textContent = data.gpio27 ? "●" : "○";
        });
    }

    setInterval(updateGPIO, 1000);
    updateGPIO();

    document.addEventListener("keydown", (e) => {
      if (e.code === "KeyC") {
        location.href = "/video";
      } else if (e.code === "KeyT") {
        location.href = "/timer";
      }
    });
  </script>
{% endblock %}
