{% extends 'base.html' %}

{% block title %}動画手順書モード{% endblock %}

{% block content %}
  <h1>動画手順書モード</h1>

  <div class="btn-wrapper">
    <button class="btn btn-middle" onclick="location.href='/video_manual_selector'">
      <img src="/static/assets/material-symbols-play.svg" alt="logo" class="logo">
      <span class="label">再生</span>
    </button>
    <button class="btn btn-middle" onclick="location.href='/register_manual'">
      <img src="/static/assets/material-symbols_app-registration.svg" alt="logo" class="logo">
      <span class="label">登録</span>
    </button>
    <button class="btn btn-middle" onclick="location.href='/manual_list'">
      <img src="/static/assets/material-symbols-light_data-table.svg" alt="logo" class="logo">
      <span class="label">一覧</span>
    </button>
  </div>

  <div class="btn-row">
    <button class="btn btn-small" onclick="location.href='/'">
      <span class="label">メニューに戻る</span>
    </button>
  </div>
{% endblock %}
